#managementlogin{
    margin:100px 500px;;
}
.radio-spacing{
    padding-right: 8px;
    padding-left: 5px;
    padding-top: 8px;
}
#managementimage{
    padding-top: 50px;
   
    text-align: center;
}
